.app {
    background-color: rgb(140, 228, 174);
    height: 500px;
}

.button {
    width: 200px;
    height: 56px;
    text-align: center;
    color: #8d8e97;
    line-height: 54px;
    size: 18px;
    font-weight: 600;
    border-radius: 2px;
    /* padding-top: 15px; */
    /* background-color: #e8e8e8; */
    margin: 20px;
}

.colorOne {
    background-color: #2231aa;
    color: aliceblue;
}

.colorOne:hover {
    background-color: #5360cd;
}

.buttondis {
    background-color: #e8e8e8;
}

.colorTwo {
    background-color: #e8e8e8;
    color: #000000;
}
.colorTwo:hover {
    background-color: #dadada;
}
.colorThree {
    background-color: aliceblue;
    color: #fd3419;
}
.colorThree:hover {
    background-color: #e5e5e5;
}
